@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-light: #12065e;
    --primary-dark: #071a78;
    --black: #000000;
    --white: #efefef;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

#header {
    width: 100vw;
    min-height: 100vh;
    background-image: url("./images/img.jpeg");
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 8px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 18px;
}

nav .logo {
    font-size: 20px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 60px;
}

.header-content h1 {
    font-size: 60px;
    color: var(--primary-dark);
    font-weight: 500;
}

.header-content p{
    font-size: 40px;
 color: var(--primary-dark);
}

.primary-btn{
    padding: 10px 24px;
    background-color: var(--primary-light);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.primary-btn:hover{
    background-color: var(--primary-dark);
}
.menu-btn {
    position: absolute;
    right: 16px;
    top: 16px;
    background-color: var(--primary-dark);
    padding: 3px 3px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#services {
    display: flex;
    margin-top: 20px;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.service {
    width: 300px;
}
.service p {
    color: #204190;
}
.service img {
    max-width: 100%;
}

#about {
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-content h1 {
    font-style: 32px;
    color: var(--primary-dark);
    text-transform: uppercase;
}
#about img {
    max-width: 100%;
}

#talk-to-us {
    background-image: url("./images/contact.webp");
    background-size: cover;
    background-position: center;
    min-height: 500px;
    margin-top: 120px;
}

.talk-to-us-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    gap: 16px;
    padding: 0px 16px;
}
.talk-to-us-content h1 {
    color: var(--primary-dark);
}

.talk-to-us-content p {
    max-width: 500px;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
}
footer ul {
    display: flex;
    list-style: none;
    gap: 32px;
}
footer.logo {
    color: var(--primary-dark);
}

#contact-header {
    min-height: 400px;
    background-image: url(./images/img.jpeg);
    background-size: cover;
    background-position: center;
}
#contact-us {
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
    gap: 60px;
}
form {
    flex-basis: 50%;
}
.inputsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
    margin-left: 60px;
}
.inputsWrapper input {
    padding: 12px 16px;
    width: 100%;
border: 1px solid darkblue;
outline: none;
}
.addresss {
    flex-basis: 50%;
}
.detailsWrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 60px;
}
.details {
    display: flex;
}
.details img {
    width: 40px;
    height: 40px;
}
.details h6 {
    color: gray;
}
.followUsWrapper {
    margin-top: 30px;
    margin-left: 30px;
}
.socialLinks {
    display: flex;
    gap: 16px;
    list-style: none;
    margin-top: 16px;
}

@media only screen and (max-width:520px) {
#header {
    min-height: 50vh;
}
.header-content h1{ 
    font-size: 32px;
}
.header-content p {
    font-size: 24px;
}
.menu-btn{
    display: block;
}
nav{
    padding: 16px;
}
nav ul {
    position: absolute;
    top: 0;
    right: 0%;
    flex-direction: column;
    background-color: var(--white);
    width: 80%;
    height: 100%;
    align-items: end;
    padding-top: 80px;
    margin-right: -900px;
    transition: all .3s ease;
}
nav ul.active{
    margin-right: 0;
}
nav ul li {
    border-bottom: 1px solid var(--primary-dark);
    width: 100%;
    padding: 8px 16px;
    text-align: right;
}
footer {
    flex-direction: column;
    align-items: center;
    padding: 32px 0px;
}
#contact-us {
    flex-direction: column;
}
.inputsWrapper {
    margin-left: 0;
}
}
